<web-app>
<servlet>
<servlet-name>MyFirst</servlet-name>
<servlet-class>MyFirst</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MyFirst</servlet-name>
<url-pattern>/MyFirst</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Second</servlet-name>
<servlet-class>Second</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Second</servlet-name>
<url-pattern>/Second</url-pattern>
</servlet-mapping>


</web-app>


